{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <p><img src="/img/airplane.jpg" class="img-responsive"></p>
        </div>
        <div class="col-sm-6">
            <h1>Slowly <small>we will get there.</small></h1>
        </div>
    </div>
    <p>This example is an exercise in how you can improve your website performance.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/login" role="button">Login to our system »</a>
    </p>
</div>
{% endblock %}